Repository LoopbackApp/widgets: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts}"
      run: pnpm oxlint --fix {staged_files}
    prettier:
      glob: "*.{js,json,md,svelte,ts,yaml,yml}"
      run: pnpm prettier --write {staged_files}

feat: add action
  .github/workflows/release.yml
  package.json
Due: prettier

style: prettier
  package.json
Due: prettier

feat: Initial Setup (#1)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .gitignore
  .prettierignore
  devbox.json
  devbox.lock
  lefthook.yml
  package.json
  packages/.gitkeep
  pnpm-lock.yaml
  pnpm-workspace.yaml
  process-compose.yml
Due: prettier

feat: init react lib
  .changeset/config.json
  .prettierrc
  README.md
  devbox.json
  package.json
  packages/widget-react/.gitignore
  packages/widget-react/README.md
  packages/widget-react/eslint.config.js
  packages/widget-react/index.html
  packages/widget-react/package.json
  packages/widget-react/postcss.config.js
  packages/widget-react/src/App.tsx
  packages/widget-react/src/index.css
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/lib/styles.css
  packages/widget-react/src/main.tsx
  packages/widget-react/src/vite-env.d.ts
  packages/widget-react/tailwind.config.js
  packages/widget-react/tsconfig.app.json
  packages/widget-react/tsconfig.json
  packages/widget-react/tsconfig.node.json
  packages/widget-react/vite.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier

feat: some more new files
  packages/widget-react/package.json
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/Widget/index.tsx
  packages/widget-react/src/lib/Widget/schema.ts
  packages/widget-react/src/lib/index.ts
  pnpm-lock.yaml
Due: oxlint, prettier

feat: add shadcn
  packages/widget-react/components.json
  packages/widget-react/package.json
  packages/widget-react/src/App.tsx
  packages/widget-react/src/components/ui/button.tsx
  packages/widget-react/src/components/ui/input.tsx
  packages/widget-react/src/components/ui/textarea.tsx
  packages/widget-react/src/index.css
  packages/widget-react/src/lib/Widget/constants.ts
  packages/widget-react/src/lib/Widget/index.tsx
  packages/widget-react/src/lib/Widget/schema.ts
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/lib/styles.css
  packages/widget-react/src/lib/utils.ts
  packages/widget-react/tailwind.config.js
  packages/widget-react/tsconfig.json
  pnpm-lock.yaml
Due: oxlint, prettier

feat: message handling
  packages/widget-react/src/lib/Widget/Status.tsx
  packages/widget-react/src/lib/Widget/index.tsx
Due: none

style: small tweaks
  packages/widget-react/src/index.css
  packages/widget-react/src/lib/Widget/Status.tsx
  packages/widget-react/src/lib/Widget/index.tsx
Due: none

fix: add projectid as prop
  packages/widget-react/package.json
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/Widget/EmojiScale.tsx
  packages/widget-react/src/lib/Widget/index.tsx
Due: prettier

Set up dev API endpoint
  packages/widget-react/src/lib/Widget/index.tsx
  packages/widget-react/vite.config.ts
Due: oxlint, prettier

Use numerical values for emotions
  packages/widget-react/package.json
  packages/widget-react/src/lib/Widget/EmojiScale.tsx
  packages/widget-react/src/lib/Widget/constants.ts
  packages/widget-react/src/lib/Widget/index.tsx
  packages/widget-react/src/lib/Widget/schema.ts
Due: oxlint, prettier

fix: submit
  packages/widget-react/src/lib/Widget/EmojiScale.tsx
  packages/widget-react/src/lib/Widget/schema.ts
Due: oxlint, prettier

feat: make url configurable
  .github/workflows/release.yml
  packages/widget-react/.env
  packages/widget-react/.env.example
  packages/widget-react/src/lib/Widget/index.tsx
Due: prettier

fix: package name
  package.json
  packages/widget-react/package.json
Due: prettier

feat: add changeset
  .changeset/witty-bags-pull.md
Due: prettier

Use the Vite server proxy for the API request locally
  packages/widget-react/.env
  packages/widget-react/.env.example
  packages/widget-react/src/lib/Widget/index.tsx
Due: none

Provide a SHELL env var for the chokidar-cli
  process-compose.yml
Due: prettier

Upload widget-js-script to R2
  .github/workflows/release.yml
  packages/widget-custom-element/src/lib/custom-element.svelte
  packages/widget-js-script/package.json
  packages/widget-js-script/src/loopback.js
  packages/widget-js-script/wrangler.toml
  pnpm-lock.yaml
Due: oxlint, prettier

Add a build process for the widget-js-script
  .github/workflows/release.yml
  packages/widget-js-script/package.json
Due: prettier

Add changeset
  .changeset/tall-scissors-vanish.md
Due: prettier

Improve UI
  packages/widget-custom-element/src/lib/custom-element.svelte
  packages/widget-js-script/package.json
  packages/widget-js-script/src/loopback.js
  packages/widget-svelte/src/lib/user-input.svelte
  packages/widget-svelte/src/lib/widget.svelte
Due: oxlint, prettier

Configure pnpm in CI
  .github/workflows/release.yml
Due: prettier

Update release.yml
  .github/workflows/release.yml
Due: prettier

Add a build process for the widget-js-script
  packages/widget-js-script/package.json
Due: prettier

Upload widget-js-script to R2
  packages/widget-custom-element/src/lib/custom-element.svelte
  packages/widget-js-script/package.json
  packages/widget-js-script/src/loopback.js
  packages/widget-js-script/wrangler.toml
  pnpm-lock.yaml
Due: oxlint, prettier

Pass the project ID via script tag
  packages/widget-js-script/index.html
  packages/widget-js-script/src/loopback.js
  packages/widget-svelte/src/lib/emoji-scale.svelte
  packages/widget-svelte/src/lib/status-failure.svelte
  packages/widget-svelte/src/lib/status-success.svelte
  packages/widget-svelte/src/lib/user-input.svelte
  packages/widget-svelte/src/lib/widget.svelte
  packages/widget-svelte/vite.config.ts
Due: oxlint, prettier

Remove duplicate variables
  packages/widget-svelte/src/lib/user-input.svelte
Due: prettier

Set package visibility
  packages/widget-custom-element/package.json
  packages/widget-js-script/package.json
Due: prettier

Configure changesets to be published publicly
  .changeset/config.json
Due: prettier

Publish the widget-react, run svelte-kit sync
  packages/widget-custom-element/package.json
  packages/widget-react/package.json
  packages/widget-svelte/package.json
Due: prettier

Remove the Leave feedback widget heading
  .changeset/loud-pillows-lick.md
  packages/widget-react/src/lib/Widget/index.tsx
  packages/widget-svelte/src/lib/widget.svelte
Due: prettier
