Repository LoopbackApp/widgets: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: pnpm oxlint --fix {staged_files}

prettier:
  run: pnpm prettier --write {staged_files}

chore: minor adjustments
  packages/widget-react/CHANGELOG.md
  packages/widget-react/package.json
Due: prettier

chore: add changeset
  .changeset/five-rice-smile.md
Due: prettier

feat: setup styling with external stylesheet
  packages/widget-react/src/App.module.css
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/widget/Widget.tsx
  packages/widget-react/src/lib/widget/helper.ts
  packages/widget-react/src/lib/widget/status.module.css
  packages/widget-react/src/lib/widget/status.tsx
  packages/widget-react/src/lib/widget/submit.ts
  packages/widget-react/src/lib/widget/types.ts
  packages/widget-react/src/lib/widget/useStyles.ts
  packages/widget-react/src/lib/widget/widget.module.css
Due: oxlint, prettier

feat: setup css modules
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/Widget.tsx
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/lib/widget.module.css
Due: oxlint, prettier

feat: status component
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/Widget.tsx
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/lib/widget/Widget.tsx
  packages/widget-react/src/lib/widget/status.module.css
  packages/widget-react/src/lib/widget/status.tsx
  packages/widget-react/src/lib/widget/widget.module.css
Due: oxlint, prettier

chore: more adjustments
  packages/widget-react-v1/CHANGELOG.md
  packages/widget-react-v1/package.json
  packages/widget-react/package.json
  packages/widget-react/public/vite.svg
  packages/widget-react/src/App.css
  packages/widget-react/src/App.tsx
  packages/widget-react/src/assets/react.svg
  packages/widget-react/src/index.css
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/main.tsx
  packages/widget-react/vite.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: remove old package
  packages/widget-react-v1/.env
  packages/widget-react-v1/.env.example
  packages/widget-react-v1/.gitignore
  packages/widget-react-v1/README.md
  packages/widget-react-v1/components.json
  packages/widget-react-v1/eslint.config.js
  packages/widget-react-v1/index.html
  packages/widget-react-v1/package.json
  packages/widget-react-v1/postcss.config.js
  packages/widget-react-v1/src/App.tsx
  packages/widget-react-v1/src/components/ui/button.tsx
  packages/widget-react-v1/src/components/ui/input.tsx
  packages/widget-react-v1/src/components/ui/textarea.tsx
  packages/widget-react-v1/src/index.css
  packages/widget-react-v1/src/lib/Widget/EmojiScale.tsx
  packages/widget-react-v1/src/lib/Widget/Status.tsx
  packages/widget-react-v1/src/lib/Widget/constants.ts
  packages/widget-react-v1/src/lib/Widget/index.tsx
  packages/widget-react-v1/src/lib/Widget/schema.ts
  packages/widget-react-v1/src/lib/index.ts
  packages/widget-react-v1/src/lib/utils.ts
  packages/widget-react-v1/src/main.tsx
  packages/widget-react-v1/src/vite-env.d.ts
  packages/widget-react-v1/tailwind.config.js
  packages/widget-react-v1/tsconfig.app.json
  packages/widget-react-v1/tsconfig.json
  packages/widget-react-v1/tsconfig.node.json
  packages/widget-react-v1/vite.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier

Use custom css variables for the status text
  packages/widget-svelte/src/lib/status.svelte
Due: prettier

Remove a gray body background color for the test widget page
  packages/widget-svelte/src/app.html
Due: none

feat: emoji scale
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/index.ts
  packages/widget-react/src/lib/widget/Widget.tsx
  packages/widget-react/src/lib/widget/emotions/emotion.module.css
  packages/widget-react/src/lib/widget/emotions/emotions.tsx
  packages/widget-react/src/lib/widget/emotions/index.tsx
  packages/widget-react/src/lib/widget/form.module.css
  packages/widget-react/src/lib/widget/form.tsx
Due: oxlint, prettier

feat: add form
  packages/widget-react/src/lib/widget/form.tsx
Due: none

feat: wire up logic
  packages/widget-react/src/lib/widget/Widget.tsx
  packages/widget-react/src/lib/widget/form.module.css
  packages/widget-react/src/lib/widget/form.tsx
Due: none

Auto-purge widget files on Cloudflare after a release
  .github/workflows/release.yml
Due: prettier

refactor: migrate to tailwind
  packages/widget-react/package.json
  packages/widget-react/postcss.config.js
  packages/widget-react/src/lib/widget/Widget.tsx
  packages/widget-react/src/lib/widget/emotions/emotion.module.css
  packages/widget-react/src/lib/widget/emotions/emotions.tsx
  packages/widget-react/src/lib/widget/emotions/index.tsx
  packages/widget-react/src/lib/widget/form.module.css
  packages/widget-react/src/lib/widget/form.tsx
  packages/widget-react/src/lib/widget/status.module.css
  packages/widget-react/src/lib/widget/status.tsx
  packages/widget-react/src/lib/widget/styles.css
  packages/widget-react/src/lib/widget/widget.module.css
  packages/widget-react/tailwind.config.js
  pnpm-lock.yaml
Due: oxlint, prettier

fix: component name
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/widget/Widget.tsx
Due: none

Auto-purge widget files on Cloudflare after a release (#28)
  .github/workflows/release.yml
Due: prettier

Add changelog, mark widget-shared as private
  .changeset/silver-cars-drop.md
  packages/widget-shared/package.json
Due: prettier

Add the widget-shared package (#27)
  .changeset/short-days-tell.md
  .changeset/silver-cars-drop.md
  .gitignore
  packages/widget-shared/package.json
  packages/widget-shared/src/api.ts
  packages/widget-shared/src/index.ts
  packages/widget-shared/tsconfig.json
  packages/widget-svelte/package.json
  packages/widget-svelte/src/app.html
  packages/widget-svelte/src/lib/api-helper.ts
  packages/widget-svelte/src/lib/form.svelte
  packages/widget-svelte/src/lib/status.svelte
  packages/widget-svelte/src/lib/types.ts
  packages/widget-svelte/src/lib/widget.svelte
  packages/widget-svelte/tsconfig.json
  pnpm-lock.yaml
Due: oxlint, prettier

Use the widget-shared package in widget-react
  packages/widget-react/package.json
  packages/widget-react/src/lib/widget/form.tsx
  packages/widget-react/src/lib/widget/submit.ts
  packages/widget-react/tsconfig.json
  pnpm-lock.yaml
Due: oxlint, prettier

Fix the NPM package name for widget-svelte
  packages/widget-svelte/README.md
Due: prettier

Set the correct name for the widget-custom-element
  packages/widget-custom-element/vite.config.ts
Due: oxlint, prettier

Export FeedbackWidget instead of LoopbackWidget
  packages/widget-react/src/App.tsx
  packages/widget-react/src/lib/widget/Widget.tsx
Due: none

Add docs
  packages/widget-react/CONTRIBUTING.md
  packages/widget-react/README.md
Due: prettier

Use the correct env variable name
  .github/workflows/release.yml
Due: prettier

Mark the widget-react as public
  packages/widget-react/package.json
Due: prettier

Fix the heading in widget-react
  packages/widget-react/README.md
Due: prettier

Add a init_dev_project task
  process-compose.yml
Due: prettier

Update the projectId in widget-react
  process-compose.yml
Due: prettier

Add a init_dev_project task (#29)
  process-compose.yml
Due: prettier

Remove Widget.tsx
  packages/widget-react/src/lib/widget/Widget.tsx
Due: none

Add widget.tsx
  packages/widget-react/src/lib/widget/widget.tsx
Due: none

Add a clean script to widget-react
  packages/widget-react/package.json
Due: prettier

Add a changeset
  .changeset/big-lamps-teach.md
Due: prettier

Fix a build issue with `widget-react` (#31)
  .changeset/big-lamps-teach.md
  packages/widget-react/package.json
  packages/widget-react/src/lib/widget/widget.tsx
Due: prettier

Add a prepublishOnly script to widget-react
  packages/widget-react/package.json
  packages/widget-svelte/package.json
Due: prettier

Add changeset
  .changeset/silent-lies-perform.md
Due: prettier

Fix the `widget-react` release (#33)
  .changeset/silent-lies-perform.md
  packages/widget-react/package.json
  packages/widget-svelte/package.json
Due: prettier

Use the Authorization header
  .github/workflows/release.yml
Due: prettier

Try double quotes
  .github/workflows/release.yml
Due: prettier

Path conditions:
  oxlint: any of: *.{js,ts}
  prettier: any of: *.{js,json,md,svelte,ts,yaml,yml}
